# Dependabot configuration file.
version: 2
enable-beta-ecosystems: true

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "autosubmit"

  - package-ecosystem: "pub"
    directory: "/pkgs/dart_pad/"
    schedule:
      interval: "monthly"
    versioning-strategy: increase-if-necessary
