# Don’t commit the following directories created by pub.
build/
.dart_tool/
.packages
.pub/

# Or the files created by dart2js.
*.dart.js
*.js.deps
*.js.map

# Other files.
coverage.json
lcov.info

# Redis snapshot persistance file
dump.rdb

# compilation artifacts
artifacts/

# local configuration
config.properties

# Editor configuration
.vscode/
