pkgs/dart_pad/lib/src/api_model.dart linguist-generated=true
pkgs/dart_pad/lib/src/protos/** linguist-generated=true
pkgs/sketch_pad/lib/src/api_model.dart linguist-generated=true
pkgs/sketch_pad/lib/src/protos/** linguist-generated=true
pkgs/sketch_pad/web/codemirror/** linguist-generated=true
