@import 'package:dart_pad/scss/colors';

.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

.CodeMirror-simplescroll-horizontal, .CodeMirror-simplescroll-vertical {
  position: absolute;
  z-index: 6;
}

.CodeMirror-simplescroll-horizontal {
  bottom: 0;
  left: 0;
  height: 9px;
}

.CodeMirror-simplescroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-simplescroll-vertical {
  right: 0;
  top: 0;
  width: 9px;
}

.CodeMirror-simplescroll-vertical div {
  right: 0;
  width: 100%;
}

.CodeMirror-overlayscroll .CodeMirror-scrollbar-filler, .CodeMirror-overlayscroll .CodeMirror-gutter-filler {
  display: none;
}

.CodeMirror-overlayscroll-horizontal div, .CodeMirror-overlayscroll-vertical div {
  position: absolute;
  border-radius: 3px;
}

.CodeMirror-overlayscroll-horizontal, .CodeMirror-overlayscroll-vertical {
  position: absolute;
  z-index: 6;
}

.CodeMirror-overlayscroll-horizontal {
  bottom: 0;
  left: 0;
  height: 6px;
}

.CodeMirror-overlayscroll-horizontal div {
  bottom: 0;
  height: 100%;
}

.CodeMirror-overlayscroll-vertical {
  right: 0;
  top: 0;
  width: 6px;
}

.CodeMirror-overlayscroll-vertical div {
  right: 0;
  width: 100%;
}

// dialog used for vim
.CodeMirror-dialog.CodeMirror-dialog-bottom {
  margin-top: -82px;
  margin-left: 36px;
}


.CodeMirror-dialog.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  background: yellow !important;
}

.CodeMirror-dialog .cm-vim-message {
  border: 1px solid #e00;
  background: orange !important;
  margin-top: -82px;
  margin-left: 36px;
}