@import 'package:dart_pad/scss/colors';
@import 'package:dart_pad/scss/layout';
@import 'package:dart_pad/scss/shared';
@import 'package:dart_pad/scss/variables';

// Material Design Web theme colors. Must be imported before importing
// material-components-web.scss.
$mdc-theme-primary: #168AFD;
$mdc-theme-secondary: #676767;
$mdc-theme-background: $playground-background-color;
$mdc-theme-surface: $playground-background-color;
$mdc-theme-error: $dark-red;

// Layout constants
$doc-console-padding: 8px 24px 8px 24px;

@import 'package:mdc_web/material-components-web';
@import 'shared';

body {
  background-color: $playground-background-color;
  color: $playground-text-color;
  font-family: $normal-font;
  font-size: 14px;
  overflow: hidden;
  @include layout-vertical;
  @include layout-fit;
}

header {
  background-color: $playground-header-background-color;
  height: 48px;
  padding-left: 24px;
  @include layout-center;
  z-index: 4;
  user-select: none;

  .header-title {
    @include layout;
    @include layout-center;
    font-family: $google-sans;
    font-weight: 400;
    font-size: 16pt;
    margin-right: 8px;

    img.logo {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }
  }

  button.mdc-button {
    @include mdc-button-ink-color(#f8f9fa);
    text-transform: none !important;
    letter-spacing: normal;
  }

  .header-gist-name {
    @include layout-flex;
    @include layout-horizontal;
    @include layout-center-justified;
    font-size: 14pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1em;
    margin-right: 1em;
    user-select: none;
  }
}

section.main-section {
  @include layout-flex;
  @include layout;
  @include layout-relative;

  .panels {
    @include layout;
    @include layout-fit;
  }
}

body>footer {
  background-color: $playground-footer-background-color;
  @include layout-horizontal;
  @include layout-center;
  padding: 8px 24px;
  .flex {
    @include layout-flex;
  }

  .footer-item {
    margin-right: 14px;
  }

  * {
    margin-right: 4px;
  }
}


a {
  color: $playground-link-color;
  fill: $playground-text-color;

  &:visited {
    color: $playground-link-color;
    fill: $playground-link-color;
  }

  &:hover {
    color: $playground-text-color;
    fill: $playground-text-color;
  }
}

// Splitter
.gutter {
  background-color: $dark-gutter-background-color;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-left: 0;
  margin-right: 0;
}

.gutter.gutter-horizontal {
  background-repeat: repeat-y;
  cursor: col-resize;
  height: 100%;
}

.gutter.gutter-vertical {
  background-repeat: repeat-x;
  cursor: row-resize;
  width: 100%;
}

// Editor panel
#editor-panel {
  @include layout-vertical;
  @include layout-relative;
}

#editor-host {
  @include layout-vertical;
  @include layout-flex;
  margin: 8px 0 0 0;
  padding: 0 8px;

  .CodeMirror {
    @include layout-flex;
    font-family: $editor-font;
    font-size: $playground-editor-font-size;
  }
}

.header {
  @include layout-horizontal;
  @include layout-justified;
  @include layout-center;
  padding: 4px;
  height: 48px;

}

.button-group {
  @include layout-horizontal;
  @include layout-center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px 24px 0 0;
  z-index: 5;
}

// Console

#output-panel {
  @include layout-flex;
  @include layout-vertical;
  @include layout-relative;

  iframe {
    @include layout-flex;
    border: none;
  }
}

#right-output-panel {
  @include layout;
  @include layout-vertical;
  #right-output-panel-content {
    @include layout-flex;
  }
}

#right-doc-panel {
  @include layout;
  @include layout-vertical;
  #right-doc-panel-content {
    @include layout-flex;
  }
}

.console {
  @include layout-flex;
  font-family: $editor-font;
  font-size: 14px;
  line-height: 20px;
  min-height: 50px;
  overflow-y: auto;
  white-space: pre-wrap;
  padding: $doc-console-padding;

  .normal {
    color: $dark-editor-text;
  }

  .error-output {
    color: $dark-pink;
  }
}

// Splash

.splash {
  background: $playground-background-color;
  pointer-events: none;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 1000;
  opacity: 1;

  transition: opacity .1s linear;
  -webkit-transition: opacity .1s linear;
}

.splash.hide {
  opacity: 0;
}

// Contenteditable elements
[contenteditable]:focus {
  outline: 0 solid transparent;
}

// Analysis flashes
.flash {
  background-color: $dark-flash-info-color;
}

// Issues
#issues {
  background-color: $dark-issues-background-color;
  border: 8px solid $dark-issues-background-color;
}

.issue .issuelabel {
  color: $dark-issue-label-color;
}

.issue:hover {
  background-color: darken($dark-issues-background-color, 3%);
}

.issue .message {
  color: $dark-issue-label-color;
}

#issues-toggle, .issue-anchor {
  color: $mdc-theme-primary;
  &:visited {
    color: $mdc-theme-primary;
  }

  &:hover {
    color: darken($mdc-theme-primary, 12%);
  }
}

#issues-message {
  @include footer-item-right;
  font-family: $normal-font;
  font-size: $playground-editor-font-size;
  cursor: default;
  margin-right: 0px;
}


// Make the dialog show up even without everything initialized (for localStorage check)
.mdc-dialog {
  z-index: 1000;
}

#new-pad-dialog {
  @include mdc-dialog-content-ink-color(white, 1.0);

  .mdc-dialog__content {
    @include layout-horizontal;
    @include layout-start;
    @include layout-around-justified;
  }

  .divider {
    width: 1px;
    height: 200px;
    background-color: #2e3742;
  }

  .dart-container {
    @include layout-vertical;
    @include layout-center;

    #new-pad-html-switch-container {
      margin-top: 8px;
    }
  }

  .select-project-button {
    cursor: pointer;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    &:hover {
      background-color: lighten($dark-code-background-color, 12%);
    }
    &.selected{
      background-color: lighten($dark-code-background-color, 6%);
    }
    @include layout-vertical;
    @include layout-center;
    img {
      width: auto;
      max-height: 120px;
      margin-bottom: 16px;
    }
  }

  label[for=new-pad-html-switch] {
    margin-left: 8px;
  }
}

#samples-menu .mdc-list-item__graphic {
    height: auto;
    width: 20px;
    margin-right: 14px;
}

// Editor Tabs
.editor-tab {
  @include mdc-button-ink-color(#f8f9fa);
  color: $label-color;
  &.active {
    color: $dark-blue;
  }
}

.border-top {
  border-top: 6px solid $dark-gutter-background-color !important;
}

#editor-panel-close-button {
  @include mdc-icon-button-size(16px, 16px, 8px);
}

// responsive layout
@media screen and (max-width: 850px) {
  #new-button {
    display: none;
  }

  #format-button {
    display: none;
  }

  #keyboard-button {
    display: none;
  }

  #install-button {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .header-gist-name {
    display: none !important;
  }
}

// Misc
.hide {
  opacity: 0;
}

.mdc-switch {
  @include mdc-switch-toggled-on-color($button-color);
  @include mdc-switch-toggled-off-color($secondary-color);
}
