/* styles_dark.css */

body {
    background-color: #1b1e22;
}

.busy {
    background: url(moving_lines_dark.gif) repeat;
    box-shadow: inset 0 0 0 1000px rgba(27,29,33,.8); /* #1b1e22 */
}

.gutter.gutter-horizontal {
    border-left: 1px solid #596068;
    border-right: 1px solid #596068;
}

.gutter.gutter-vertical {
    border-top: 1px solid #596068;
    border-bottom: 1px solid #596068;
}

#web-output {
    background-color: #1b1e22;
}

.footer {
    border-top: 1px solid #596068;
    background-color: #1b1e22;
}

#issues-message {
    color: #f8fafb;
}

/* Issues */
#issues {
    border: 1px solid #596068;
    background-color: rgba(27,29,33,.8);
}

.issue .issuelabel {
    color: #222;
}

.issue .message {
    color: #f8fafb;
}
