/* styles_light.css */

body {
    background-color: #f7f7f7;
}

.busy {
    background: url(moving_lines.gif) repeat;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);
}

#navbar {
    background-color: #f7f7f7;
}

.gutter {
    background-color: #f7f7f7;
}

#web-output {
    background-color: #f7f7f7;
}

.footer {
    border-top: 1px solid #d0d5d9;
    background-color: #f7f7f7;
}

#issues-message {
    color: #586069;
}

/* Issues */
#issues {
    border: 1px solid rgba(27,31,35,0.15);
    background-color:rgb(246, 248, 250);
}

.issue .issuelabel {
    color: #222;
}

.issue .message {
    color: #222;
}