/* styles_dark.css */

body {
    background-color: #1b1e22;
}

.busy {
    background: url(moving_lines_dark.gif) repeat;
    box-shadow: inset 0 0 0 1000px rgba(27,29,33,.8); /* #1b1e22 */
}

.gutter {
    background-color: #1b1e22;
}

.gutter.gutter-horizontal{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAYAAADtlXTHAAAAAXNSR0IArs4c6QAAABNJREFUCB1jiEzI+M/EAASDiQAAShYCW+OETaMAAAAASUVORK5CYII=');
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAABCAYAAADJsB7sAAAAAXNSR0IArs4c6QAAABBJREFUCB1jjEzI+M8wAAAA+8UCIuVc7NYAAAAASUVORK5CYII=');
}

#web-output {
    background-color: #1b1e22;
}

#user-code-container {
    background-color: #1b1e22;
}

#user-code-container .gutter-vertical {
    border-left: 1px solid #596068;
}

/* TODO(ryjohn): align flutter and html modes */
#editor-and-console-container .gutter-vertical {
    border-left: 1px solid #596068;
}

#console-output-footer {
    background-color: #1b1e22;
    border-left: 1px solid #596068;
}

.footer {
    background-color: #1b1e22;
}

#issues-message {
    color: #f8fafb;
}

/* Issues */
#issues {
    border: 1px solid #596068;
    background-color: rgba(27,29,33,.8);
}

.issue .issuelabel {
    color: #222;
}

.issue .message {
    color: #f8fafb;
}

.border-top {
    border-top: 1px solid #596068;
}

.border-bottom {
    border-top: 1px solid #596068;
}

.border-left {
    border-left: 1px solid #596068;
}

.border-right {
    border-top: 1px solid #596068;
}
