/* styles_dark.css */
@import 'package:dart_pad/experimental/scss/colors';

body {
  background-color: $dark-code-background-color;
}

.busy {
  background: url(moving_lines_dark.gif) repeat;
  box-shadow: inset 0 0 0 1000px rgba(27, 29, 33, .8); /* #1b1e22 */
}

.gutter {
  background-color: $dark-gutter-background-color;
}

#web-output {
  background-color: $dark-code-background-color;
}

#console-output-footer {
  background-color: $dark-code-background-color;
  border-left: 1px solid $dark-border-color;
}

#issues-message {
  color: $dark-label-color;
}

/* Issues */
#issues {
  background-color: $dark-secondary-background-color;
}

.issue .issuelabel {
  color: $dark-label-color;
}

.issue .message {
  color: $dark-label-color;
}

.CodeMirror-vscrollbar {
  opacity: 0.2;
}
