/* styles_light.css */

.busy {
    background: url(moving_lines.gif) repeat;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);
}

.gutter {
    background-color: white;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAYAAADtlXTHAAAAAXNSR0IArs4c6QAAABNJREFUCB1juHD15n8mBiAYTAQAE+8DuEvhrvMAAAAASUVORK5CYII=');
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAABCAYAAADJsB7sAAAAAXNSR0IArs4c6QAAABBJREFUCB1jvHD15n+GAQAAnhUDf1ql9zwAAAAASUVORK5CYII=');
}

#web-output {
    background-color: white;
}

#user-code-container {
    background-color: #f7f7f7;
}

#user-code-container .gutter-vertical {
    border-left: 1px solid #dddddd;
}

#console-output-footer {
    background-color: white;
    border-left: 1px solid #dddddd;
}

.footer {
    background-color: #f7f7f7;
}

#issues-message {
    color: #586069;
}

/* Issues */
#issues {
    border: 1px solid rgba(27,31,35,0.15);
    background-color:rgb(246, 248, 250);
}

.issue .issuelabel {
    color: #222;
}

.issue .message {
    color: #222;
}

#navbar {
    background-color: #f7f7f7;
}

.border-top {
    border-top: 1px solid #d0d5d9;
}

.border-left {
    border-left: 1px solid #d0d5d9;
}
