name: package:dartpad_ui

permissions: read-all

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/dartpad_ui.yml'
      - 'pkgs/dartpad_ui/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/dartpad_ui.yml'
      - 'pkgs/dartpad_ui/**'
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkgs/dartpad_ui/
    strategy:
      fail-fast: false
      matrix:
        sdk: [ beta, main ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
          channel: ${{ matrix.sdk }}
      - run: flutter --version
      - run: flutter pub get
      - run: flutter analyze
      - run: dart format --set-exit-if-changed .

      - name: Create template projects
        run: dart tool/grind.dart build-project-templates
        working-directory: pkgs/dart_services/

      - run: flutter build web
      - run: flutter test

      - run: tool/check_cycles.sh
