name: package:dart_services

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/dart_services_probes.yml'
      - 'pkgs/dart_services/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/dart_services_probes.yml'
  schedule:
    - cron: '0 * * * *' # hourly

jobs:
  probe:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkgs/dart_services/
    strategy:
      fail-fast: false
      matrix:
        sdk: [stable, beta, main]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e
        with:
            channel: ${{ matrix.sdk }}
      - run: flutter --version

      - name: Install dart dependencies
        run: flutter pub get

      - name: Run probes
        run: dart test test/probes
