name: Dart

on:
  # Run CI on pushes to the master branch, and on PRs against master.
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *" # Every day at midnight

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - sdk: stable
            experimental: false
          - sdk: beta
            # Allowing skipping until we support Dart 3:
            # https://github.com/dart-lang/dart-pad/issues/2467
            experimental: true

    continue-on-error: ${{ matrix.experimental }}
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - uses: dart-lang/setup-dart@a57a6c04cf7d4840e88432aad6281d1e125f0d46
        with:
          sdk: ${{ matrix.sdk }}
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c

      - name: Print Dart SDK version
        run: dart --version

      - name: Install apt dependencies
        run: sudo apt-get install -y protobuf-compiler

      - name: Install dart dependencies
        run: dart pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze --fatal-infos

      - name: Run buildbot
        run: |
          export PATH=$PATH:$HOME/.pub-cache/bin
          dart pub global activate protoc_plugin
          dart tool/grind.dart buildbot
