name: package:dart_services

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/dart_services.yml'
      - 'pkgs/dart_services/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/dart_services.yml'
      - 'pkgs/dart_services/**'
  schedule:
    - cron: '0 0 * * *' # daily

jobs:
  # Check code formatting, static analysis, and build on a single OS (linux).
  verify:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkgs/dart_services/
    strategy:
      fail-fast: false
      matrix:
        sdk: [stable, beta, main]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046
        with:
            channel: ${{ matrix.sdk }}
      - run: flutter --version

      - name: Install dart dependencies
        run: flutter pub get

      - name: Analyze project source
        run: dart analyze --fatal-infos

      - name: Verify formatting
        run: dart format --set-exit-if-changed bin lib test tool

      - name: Create template projects and populate the custom pub cache
        run: dart run grinder build-project-templates

      # Build the web artifacts on the bots to ensure they don't regress.
      - name: Build web artifacts
        run: dart run grinder build-storage-artifacts

      - name: Run tests
        run: dart test
