name: package:samples

permissions: read-all

on:
  push:
    branches: [ main ]
    paths:
      - '.github/workflows/samples.yml'
      - 'pkgs/samples/**'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/workflows/samples.yml'
      - 'pkgs/samples/**'
  schedule:
    - cron: '0 0 * * 0' # weekly

jobs:
  validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: pkgs/samples/
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046
      - run: flutter pub get
      - run: flutter analyze
      - run: dart format --set-exit-if-changed .
      - run: dart tool/samples.dart --verify
      - run: flutter build web
