@import 'package:dart_pad/experimental/scss/colors';
@import 'package:dart_pad/experimental/scss/variables';

@import 'layout';

// Material Design Web theme colors. Must be imported before importing
// material-components-web.scss.
$mdc-theme-primary: #168AFD;
$mdc-theme-secondary: #676767;
$mdc-theme-background: $playground-background-color;
$mdc-theme-surface: $playground-background-color;
$mdc-theme-error: $dark-red;

@import 'package:mdc_web/material-components-web';

body {
  background-color: $playground-background-color;
  color: $playground-text-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

header {
  height: 48px;
  padding: 0 24px;
  @include layout-center;

  .header-title {
    @include layout;
    @include layout-center;
    font-size: 24px;
    margin-right: 8px;

    img.logo {
      height: 24px;
      width: 24px;
      margin-right: 8px;
    }
  }

  button.mdc-button {
    @include mdc-button-ink-color(#f8f9fa);
    text-transform: none !important;
    letter-spacing: normal;
  }

  #header-gist {
    @include layout-flex;
    @include layout-vertical;
    @include layout-center;
    font-size: 14pt;
  }

  #github-button { background: url(/pictures/github-light-32px.png) no-repeat;
    filter: brightness(0.5);
    width: 32px;
    height: 32px;
    margin: 8px 0 8px 16px;
    border: none;

    &:hover {
      filter: brightness(0.75);
    }
  }
}

footer {
  background-color: $playground-footer-background-color;
  @include layout-horizontal;
  padding: 8px 24px;
  .flex {
    @include layout-flex;
  }

  .footer-item {
    margin-right: 10px;
  }
}


a {
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: $playground-link-color;
    fill: $playground-link-color;
  }

  &:hover {
    color: $playground-text-color;
    fill: $playground-text-color;
  }
}
