core-header-panel {
  background: #37474f;
}

/*
 * Workaround for https://github.com/dart-lang/dart-pad/issues/117
 * https://github.com/Polymer/polymer/issues/1123
 * http://stackoverflow.com/questions/25824061/core-drawer-panel-vs-paper-fab-z-index
 */
core-header-panel[drawer] { z-index: 9999; }
core-header-panel[main] { z-index: 0; }

paper-tabs, core-toolbar {
  background-color: #263238;
  color: #FFFFFF;
}

#nav-header {
  background-color: #263238;
}

paper-tabs {
  height: 32px;
}

.page-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-title, paper-tab {
  /*font-family: 'Montserrat', sans-serif;*/
}

core-toolbar /deep/ .toolbar-tools {
  padding: 0;
}

paper-tab {
  max-width: 220px;
}

paper-toggle-button::shadow .toggle {
  background-color: #fff;
}

paper-toggle-button::shadow [checked] .toggle-ink {
  color: #42b1a6;
}

paper-fab {
  background-color: #607D8B;
}

.accented-button {
  color: #607D8B;
  /*border-radius: 50%;
  background-color: #37474f;*/
}

paper-dropdown div#background,
paper-dropdown::shadow #background {
  background-color: #37474f;
}

paper-item.core-selected {
  background-color: #263238;
}

paper-item {
  color: #c6c6c6;
}

paper-tabs::shadow #selectionBar {
  background-color: #607D8B;
}

paper-tabs paper-tab::shadow #ink {
  color: #607D8B;
}

core-header-panel::shadow #dropShadow {
  box-shadow: inset 0px 2px 2px -1px rgba(0, 0, 0, 0.6);
}

.light-background {
  background-color: #92989b;
}

.busy {
  font-style: italic;
}

iframe {
  border: none;
}

.console {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
  line-height: 20px;
  min-height: 50px;
  overflow-y: auto;
  padding: 8px;
  white-space: pre-wrap;
  background-color: #5795B3; /*#263238;*/
}

.console .normal {
  color: #fff;
}

.console .errorOutput {
  color: #F7977A;
}

.editor {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
  line-height: 20px;
  display: block;
  position: relative;
  margin: 8px;
}

/* issues css */

#issues {
  overflow-y: auto;
  max-height: 68px;
}

#issues .issue {
  line-height: 20px;
  background: #444;
  border-radius: 3px;
  cursor: pointer;
  /*box-shadow: 3px 3px 4px 0px rgba(15, 14, 14, 0.7);*/
}

.issue + .issue {
  margin-top: 4px;
}

.issue .issuelabel {
  color: #222;
  display: inline-block;
  border-radius: 0;
  padding: 0 5px;
  min-width: 53px;
  text-align: right;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.issue .issuelabel.error {
  background-color: #F7977A;
}

.issue .issuelabel.warning {
  background-color: #FFF79A;
}

.issue .issuelabel.info {
  background-color: #7EA7D8;
}

.issue .message {
  color: #eee;
  padding-left: 5px;
}
