
body {
  margin: 0;
  padding: 0;

  background: #2f2f2f;
  color: rgb(198, 198, 198);

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;

  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;

  max-width: 1500px;
  min-width: 700px;
  margin: 0 auto;
  line-height: 1.45em;
}

header {
  height: 48px;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 150%;
  color: white;
  vertical-align: middle;

  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;

  border-width: 4px;
  margin-bottom: 16px;
}

section {
  margin: 0;
  padding-bottom: 8px;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
}

footer {
  margin: 16px 20px 8px 20px;
  font-size: 12px;
}

.view {
  margin: 0 24px;
  /*box-shadow: 0px 0px 2px rgba(0,0,0,0.23);
  border-radius: 4px;*/
}

.noleft {
  margin-left: 0;
}

.leftmargin {
  margin-left: 24px;
}

.leftborder {
  padding-left: 24px;
  box-shadow: rgba(255, 255, 255, 0.07) 1px 0 0 inset;
  border-left: 1px solid #121212;
}

.content {
  margin-top: 16px;
  margin-bottom: 16px;
}

pre {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a,
a:visited {
  color: #bfbfbf;
}

a:hover {
  color: #fff;
}

/* TODO: display an arrow */

a[selected] {
  color: #84bcde;
  cursor: default;
}

a[selected]:hover {
  color: #84bcde;
}

.header li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
}

.header a {
  -webkit-user-select: none;
  user-select: none;
}

.header a {
  margin-right: 16px;
  text-transform: uppercase;
}

.header {
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-bottom: 1px solid #121212;
  padding-bottom: 8px;
}

.header.nobottommargin {
  box-shadow: none;
  border-bottom: none;
}

.somecode {
  /*font-family: 'Inconsolata', monospace;*/
  font-family: monospace;
  font-size: 10pt;
  line-height: 1.2em;
}

button {
  outline: none;
  border: none;
  min-width: 48px;
  background: rgba(255, 255, 255, 0.06);
  color: #aaa;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 15px;
  height: 24px;
  cursor: pointer;
  padding: 2px 6px;
}

button:hover {
  color: #fff;
}

button[disabled] {
  color: #555;
  pointer-events: none;
}

[small] {
  font-size: 15px;
}

iframe {
  border: none;
}

div.toggle {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 3px 0 3px 6px;
  height: 24px;
}

.toggle a {
  transition: 75ms;
  min-width: 24px;
  text-align: center;
  margin-right: 6px;
  padding: 2px 6px;
  display: inline-block;
  line-height: 1.44em;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.08) 0 1px 0;
  color: #000;
}

.toggle a:hover {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  border-radius: 1em;
}

.toggle a[selected] {
  color: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}

#divider {
  margin: 16px;
  box-shadow: rgba(255, 255, 255, 0.07) 0 1px 0;
  border-top: 1px solid #121212;
}

.console {
  /*font-family: 'Inconsolata', monospace;*/
  font-family: monospace;
  font-size: 10pt;
  line-height: 1.2em;
  min-height: 100px;
  overflow-y: auto;
  white-space: pre;
}

#spinner {
  opacity: 0;
  transition: 150ms;
  font-size: 18px;
  margin-right: 3px;
}

#spinner.showing {
  opacity: 0.4;
}
